cmake_install.cmake
CMakeCache.txt
CMakeFiles
*.swp
Makefile
*~
*.pyc
/src/server/batyrd
/src/web/http_resources.h
/src/web/static/css/batyr.css
/src/web/static/css/batyr.css.in
/src/web/static/js/lib.js
/src/web/static/js/app.js
/src/web/static/js/app.js.in
/src/web/static/partials/manual.html
/src/common/libbatyrcommon.a
/src/common/config.h
/debian/batyr*
/debian/files
/install_manifest.txt
/obj-*
/batyr.cfg
/batyrd.cfg
