cmake_install.cmake
CMakeCache.txt
CMakeFiles
*.swp
Makefile
*~
*.pyc
/src/server/batyrd
/src/web/http_resources.h
/src/web/static/css/style.css
/src/web/static/js/app.js
/src/web/static/js/controllers.js
/src/web/static/js/angular-notify.js
/src/web/static/css/font-awesome.css
