# Configuration for the batyr server
#
# Syntax hints:
#    - valid values for boolean settings are yes,no,true,false,1,0


[MAIN]

# The number of worker threads to launch
# Must be a positive integer number
#
# Optional
# Default: 2
num_worker_threads = 4


# The time after which finished and failed jobs are removed
# As all jobs are kept in memory this time should not be set too
# high.
#
# The units are seconds
# Optional
# Default: 600
max_age_done_jobs = 600


# connection to the postgresql database
# A connection string containing all parameters needed to connect
# to the database. The syntax is described in the postgresql manual
# on
# http://www.postgresql.org/docs/9.2/static/libpq-connect.html#LIBPQ-PARAMKEYWORDS
#
# Mandatory
dsn = "dbname=batyr user=batyr password=batyr host=localhost"


# logging settings
[LOGGING]

# the loglevel of the application
#
# valid values are: "error", "warning", "information" and
# "debug", although "debug" may only be used with DEBUG
# builds
#
# Optional
# Default: "information"
loglevel = debug


# Settings for the HTTP-Interface
[  HTTP  ]

# The port to listen on
#
# Optional
# Default: 9090
port = 9091


# the layer configurations
[LAYERS]

# example
[[africa]]

# A optional description to show in the web interface
# has to be in one line
#
# Optional
# Default: empty
description = Countries of africa based on http://www.mapmakerdata.co.uk.s3-website-eu-west-1.amazonaws.com/library/stacks/Africa/index.htm

# the source the contents for tha layer should be pulled from
#
# Mandatory
source = testdata/shapes/Africa.shp

# the name of the layer in the datasource
#
# Mandatory
source_layer = Africa

# the table the layers contents should be written to
#
# Mandatory
target_table_name = africa

# the schema of the table referenced in target_table_name
#
# Mandatory
target_table_schema = test

# allow features to be deleted during the pull.
# Features which are not part of the source will be removed from the target.
# This setting is always disabled when a filter is used
#
# Optional
# Type: boolean
# Default: no
allow_feature_deletion = yes


[[dataset1]]
description= testing different values

source = testdata/shapes/dataset1.shp
source_layer = dataset1
target_table_name = dataset1
target_table_schema = test
