<div class="hero">
    <div class="hero-titles">
        <h1>Batyr</h1>
        <h2>A server to synchronize a PostgreSQL/PostGIS database to local and remote geodata sources on demand.</h2>
    </div>
</div>


<div class="pure-u status-dashboard">
    <div class="pure-u-1-3">
        <div class="l-box">
            <h4>Layers</h4>
            <h1>{{status.numLayers}}<h1>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <h4>Queued jobs</h4>
            <h1>{{status.numQueuedJobs}}<h1>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <h4>Workers</h4>
            <h1>{{status.numWorkers}}<h1>
        </div>
    </div>
    <div class="pure-u-3-3">
        <div class="l-box muted mini">
            This page is updated every {{ updateIntervalSecs }} seconds.</br>
            Running {{ status.appName }} version {{ status.appVersion }}
        </div>
    </div>

</div>
