<div class="heroS">
    <div class="heroS-titles">
        <h1>Jobqueue</h1>
    </div>
</div>

<div class="l-vbox job-box">
    <div class="pure-g">
        <div class="pure-u-1-2">
            <div class="l-box mini">
                The colors of the entries indicate if these jobs are <span class="queued-label">queued</span>, 
                <span class="finished-label">finished</span>, have
                <span class="failed-label">failed</span> or 
                if they are currently <span class="in_process-label">processed</span>. Finished or 
                failed jobs older than {{ joblist.maxAgeDoneJobsSeconds | secondDuration }} will get automatically removed.
                The columns P, C, U and D show how many rows have been <b>P</b>ulled from the source and how many of those rows <b>C</b>reated new rows in the database, <b>U</b>pdated existing ones or resulted in <b>D</b>eletions.
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="l-box right">
                <div class="pure-button pure-button-primary" ng-click="refreshJobs()"><i class="icon-refresh"></i>Refresh</div>
            </div>
        </div>
    </div>
    <table class="pure-table job-table">
        <thead>
            <tr>
                <th>Job type</th>
                <th>Layer</th>
                <th>Added</th>
                <th>Finished</th>
                <th>P</th>
                <th>C</th>
                <th>U</th>
                <th>D</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in joblist.jobs" class="{{job.status }}" ng-click="showJob(job);">
                <td>{{ job.type }}</td>
                <td>{{ job.layerName }}</td>
                <td>{{ job.timeAdded | fromNow }} </td>
                <td>{{ job.timeFinished | fromNow }}</td>
                <td>{{ job.numPulled }}</td>
                <td>{{ job.numCreated }}</td>
                <td>{{ job.numUpdated }}</td>
                <td>{{ job.numDeleted }}</td>
                <td><div class="job-message">{{ job.message }}</div></td>
            </tr>
        </body>
    </table>
</div>
